<a href="https://colab.research.google.com/github/JotaMTB/Python_exercises/blob/master/C%C3%B3mo_crear_variables_dummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##¿Cómo crear variables dummy en un DataFrame usando Python?
El código explicado en el artículo de Linkedin con el mismo nombre.

In [0]:
#La función:

data                                          #DataFrame de partida
columns_to_dummy = ['Column 1', 'Column 2']   #lista que guarda el nombre de las columnas que se van a transformar en dummy.

def dummy_generator(dataframe, columns_list):   #la función pide un DataFrame y una lista.
    
    for column in columns_list:                           #bucle para recorrer todas las columnas (los elementos de la lista).
        col_dummies = pd.get_dummies(dataframe[column])   #almacena las nuevas columnas dummy.
        dataframe = dataframe.join(col_dummies)           #se añaden las nuevas columnas dummy al DataFrame de partida.

    dataframe = dataframe.drop(columns_list, axis=1)      #se eliminan las columnas de partida en el DataFrame.
    return dataframe


data = dummy_generator(data, columns_to_dummy)    #Para obtener el DataFrame modificado, se iguala a la función generadora.

In [1]:
#El ejemplo:

import pandas as pd  #importando el paquete Pandas

#Creación de dos listados con variables categóricas que serán las columnas del DataFrame:
sexo = ['mujer', 'hombre', 'mujer', 'hombre', 'hombre', 'mujer', 'mujer']
estado = ['soltero', 'casado', 'soltero', 'casado', 'soltero', 'casado', 'casado']

#Creación del diccionario previo a la creación del DataFrame (data):
main_dict = {'Sexo': sexo, 'Estado Civil': estado}
data = pd.DataFrame(main_dict)

#Visualización de los datos:
data

     Sexo Estado Civil
0   mujer      soltero
1  hombre       casado
2   mujer      soltero
3  hombre       casado
4  hombre      soltero
5   mujer       casado
6   mujer       casado

In [2]:
columns_to_dummy = ['Sexo', 'Estado Civil']  

def dummy_generator(dataframe, columns_list):  
    
    for column in columns_list:
        col_dummies = pd.get_dummies(dataframe[column])
        dataframe = dataframe.join(col_dummies)

    dataframe = dataframe.drop(columns_list, axis=1)
    return dataframe


data = dummy_generator(data, columns_to_dummy)
data

   hombre  mujer  casado  soltero
0       0      1       0        1
1       1      0       1        0
2       0      1       0        1
3       1      0       1        0
4       1      0       0        1
5       0      1       1        0
6       0      1       1        0